<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 标签页内容 -->
    <title>重庆青少年心理咨询 专注青少年心理健康-【雅秋文化】</title>
    <!-- 网页元信息 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="IceGlow">
    <meta name="description" content="雅秋文化,与重庆晨报966966共同服务社会,专注青少年心理健康,本站无弹窗无广告,24X7电话:13320337453,QQ咨询：2757861151">
    <meta name="keywords" content="青少年心理健康咨询,婚姻情感咨询,重庆雅秋文化">
    <meta name="author" content="雅秋文化,冰芒科技">
    <!-- css -->
    <link rel="shortcut icon" href="foreground/common/img/favicon.ico">
    <link rel="stylesheet" href="foreground/general/css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="foreground/general/css/highlight/monokai-sublime.min.css">
    <link rel="stylesheet" href="foreground/general/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="foreground/general/css/global/styles.css?=2016121272249">
    <link rel="stylesheet" href="foreground/general/css/animate/animate.min.css">
    <link rel="stylesheet" href="foreground/general/css/mine/global/sign-modal.css">
    <link rel="stylesheet" href="foreground/general/css/mine/global/navibar.css">
    <!-- js -->
    <script src="foreground/general/js/jquery/jquery.min.js"></script>
    <script src="foreground/general/js/bootstrap/bootstrap.min.js"></script>
    <!-- 内联样式 -->
    <style>
        /* 第一板块-主页 整体 */
        .banner-container {
            min-height: 662px;
        }

        .course-btn {
            margin-left: 4%;
        }

        .navbar-banner {
            background-image: url("foreground/general/img/portal/homepage-0.jpg");
            background-size: auto 100%;
            background-repeat: no-repeat;
        }

        /* 第二板块-内容简述 */
        .brief-img {
            width: 168px;
            height: 168px;
        }

        /* 第三板块-经典案例 */
        .case-img {
            border-radius: 20px;
        }

        /* 第四板块-实时信息 */
        .news-img {
            border-radius: 15px;
        }

        /* 第五板块-讨论交流 */
        .forum-img {
            border-radius: 15px;
        }
    </style>
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
                <span class="sr-only">雅秋文化</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="foreground/general/img/portal/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="/">首页</a>
                </li>
                <li class="">
                    <a href="/domain?type=case">经典案例</a>
                </li>
                <li class=" bootcamp new-nav logo-1111">
                    <a href="/domain?type=news">实时信息</a>
                </li>
                <li class="">
                    <a href="/domain?type=forum">讨论交流</a>
                </li>
                <li class=" new-nav logo-1111">
                    <a href="/contact-us">联系我们</a>
                </li>
            </ul>

            <div class="navbar-right btns">
                <a class="btn btn-default navbar-btn sign-in" data-sign="signin" href="#sign-modal" data-toggle="modal">登录</a>
                <a class="btn btn-default navbar-btn sign-up" data-sign="signup" href="#sign-modal" data-toggle="modal">注册</a>
            </div>

            <form class="navbar-form navbar-right" action="search" method="get" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" autocomplete="off" placeholder="搜索 案例/话题">
                </div>
            </form>
        </div>
    </div>
</nav>

<!-- 第一板块-主页 -->
<div class="navbar-banner layout-no-margin-top">
    <div class="banner-container">
        <div class="container">
            <div class="row">
                <div class="col-md-5" style="margin-top: 60px;">
                    <a class="container-title">
                        <img src="foreground/general/img/portal/title.png" />
                    </a>
                    <div style="margin-top:24px;">
                        <a id="course-btn" class="course-btn btn btn-lg" href="tel:13320337453">联系我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 第二板块-问题简述 -->
<div class="introduce-container" id="fourFeatures">
    <div class="container">
        <div class="row">
            <div class="introduce-unit col-sm-6 col-md-3" onclick="location.href='/domain?type=case'">
                <div><a class="introduce-img"><img class="brief-img" src="foreground/general/img/portal/student-problem.gif" alt="雅秋心理-学生问题"/></a></div>
                <div><span class="introduce-span">学生问题：厌学、叛逆、早恋、颓废、无兴趣爱好、亲情淡漠、学习无动力、考试紧张、注意力不集中、痴迷于游戏</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3" onclick="location.href='/domain?type=case'">
                <div><a class="introduce-img"><img class="brief-img" src="foreground/general/img/portal/psychological-problems.gif" alt="雅秋心理-心理问题"/></a></div>
                <div><span class="introduce-span">心理问题：抑郁症、焦虑症、恐惧症、强迫症、疑病症、洁癖、自卑、自闭、失眠、情绪暴躁、心胸狭隘</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3" onclick="location.href='/domain?type=case'">
                <div><a class="introduce-img"><img class="brief-img" src="foreground/general/img/portal/mental-problem.gif" alt="雅秋心理-精神问题"/></a></div>
                <div><span class="introduce-span">精神问题：幻听、幻觉、妄想、孤僻、亢奋、偏执、猜疑、行为退缩、思维破裂、回避社交、双向情感障碍、逻辑思维混乱</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3" onclick="location.href='/domain?type=case'">
                <div><a class="introduce-img"><img class="brief-img" src="foreground/general/img/portal/coaching-problem.gif" alt="雅秋心理-托管补习"/></a></div>
                <div><span class="introduce-span">托管补习：对于学习方面令家长抓狂的学生，我们可以因材施教，提供针对于中小学生各科的学习辅导</span></div>
            </div>
        </div>
        <div class="row">
            <div class="introduce-unit col-sm-6 col-md-3" onclick="location.href='/domain?type=case'">
                <div><a class="introduce-img"><img class="brief-img" src="foreground/general/img/portal/case.gif" alt="雅秋文化-经典案例"/></a></div>
                <div><span class="introduce-span">经典案例</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3" onclick="location.href='/domain?type=news'">
                <div><a class="introduce-img"><img class="brief-img" src="foreground/general/img/portal/news.gif" alt="雅秋文化-新闻动态"/></a></div>
                <div><span class="introduce-span">实时信息</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3" onclick="location.href='/domain?type=forum'">
                <div><a class="introduce-img"><img class="brief-img" src="foreground/general/img/portal/forum.gif" alt="雅秋文化-讨论区"/></a></div>
                <div><span class="introduce-span">讨论交流</span></div>
            </div>
            <div class="introduce-unit col-sm-6 col-md-3" onclick="location.href='/contact-us'">
                <div><a class="introduce-img"><img class="brief-img" src="foreground/general/img/portal/contact-us.gif" alt="雅秋文化-联系我们"/></a></div>
                <div><span class="introduce-span">联系我们</span></div>
            </div>
        </div>
    </div>
</div>

<!-- 第三板块-典型案例 -->
<div class="line-and-laboratory">
    <div class="container">
        <div class="clearfix text-center item-header">
            <span class="line"></span>
            <div class="text-center item-title" onclick="location.href='/domain?type=case'">经典案例</div>
            <span class="line"></span>
        </div>
        <div class="clearfix courses">
            <!-- 经典案例1 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-0.jpg" alt="雅秋文化-经典案例-专题一">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题一">经典案例-专题一</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <!-- 经典案例2 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-1.jpg" alt="雅秋文化-经典案例-专题二">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题二">经典案例-专题二</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <!-- 经典案例3 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-2.jpg" alt="雅秋文化-经典案例-专题三">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题三">经典案例-专题三</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <!-- 经典案例4 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-3.jpg" alt="雅秋文化-经典案例-专题四">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题四">经典案例-专题四</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <!-- 经典案例5 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-4.jpg" alt="雅秋文化-经典案例-专题五">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题五">经典案例-专题五</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <!-- 经典案例6 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-5.jpg" alt="雅秋文化-经典案例-专题六">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题六">经典案例-专题六</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <!-- 经典案例7 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-6.jpg" alt="雅秋文化-经典案例-专题七">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题七">经典案例-专题七</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <!-- 经典案例8 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-7.jpg" alt="雅秋文化-经典案例-专题八">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题八">经典案例-专题八</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <!-- 经典案例9 -->
            <div class="col-md-4 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"></i>
                    </div>
                    <div class="course-img">
                        <img class="case-img" src="foreground/general/img/portal/case-8.jpg" alt="雅秋文化-经典案例-专题九">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="经典案例-专题九">经典案例-专题九</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix item-footer">
            <div class="pull-right watch-all">
                <a href="/domain?type=case">查看更多 ></a>
            </div>
        </div>
    </div>
</div>

<!-- 第四板块-实时信息 -->
<div class="line-and-laboratory">
    <div class="container">
        <div class="clearfix text-center item-header" onclick="location.href='/domain?type=news'">
            <span class="line"></span>
            <div class="text-center item-title">实时信息</div>
            <span class="line"></span>
        </div>
        <div class="clearfix courses">
            <div class="col-md-3 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"
                           data-follow-url="/courses/1/follow"></i>
                    </div>
                    <div class="course-img">
                        <img class="news-img" src="foreground/general/img/portal/news-0.jpg" alt="雅秋文化-实时信息一">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="雅秋文化-实时信息一">雅秋文化-实时信息一</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"
                           data-follow-url="/courses/1/follow"></i>
                    </div>
                    <div class="course-img">
                        <img class="news-img" src="foreground/general/img/portal/news-1.jpg" alt="雅秋文化-实时信息二">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="雅秋文化-实时信息二">雅秋文化-实时信息二</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"
                           data-follow-url="/courses/1/follow"></i>
                    </div>
                    <div class="course-img">
                        <img class="news-img" src="foreground/general/img/portal/news-2.jpg" alt="雅秋文化-实时信息三">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="雅秋文化-实时信息三">雅秋文化-实时信息三</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"
                           data-follow-url="/courses/1/follow"></i>
                    </div>
                    <div class="course-img">
                        <img class="news-img" src="foreground/general/img/portal/news-3.jpg" alt="雅秋文化-实时信息四">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="雅秋文化-实时信息四">雅秋文化-实时信息四</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix item-footer">
            <div class="pull-right watch-all">
                <a href="/domain?type=news">查看更多 ></a>
            </div>
        </div>
    </div>
</div>

<!-- 第五板块-讨论区 -->
<div class="line-and-laboratory">
    <div class="container">
        <div class="clearfix text-center item-header">
            <span class="line"></span>
            <div class="text-center item-title">讨论交流</div>
            <span class="line"></span>
        </div>
        <div class="clearfix courses">
            <div class="col-md-3 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"
                           data-follow-url="/courses/1/follow"></i>
                    </div>
                    <div class="course-img">
                        <img class="forum-img" src="foreground/general/img/portal/forum-0.jpg" alt="雅秋文化-讨论区专题一">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="雅秋文化-讨论区专题一">雅秋文化-讨论区专题一</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"
                           data-follow-url="/courses/1/follow"></i>
                    </div>
                    <div class="course-img">
                        <img class="forum-img" src="foreground/general/img/portal/forum-1.jpg" alt="雅秋文化-讨论区专题二">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="雅秋文化-讨论区专题二">雅秋文化-讨论区专题二</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"
                           data-follow-url="/courses/1/follow"></i>
                    </div>
                    <div class="course-img">
                        <img class="forum-img" src="foreground/general/img/portal/forum-2.jpg" alt="雅秋文化-讨论区专题三">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="雅秋文化-讨论区专题三">雅秋文化-讨论区专题三</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6  course">
                <a class="course-box" href="">
                    <div class="sign-box">
                        <i class="fa fa-star-o course-follow pull-right"
                           data-follow-url="/courses/1/follow"></i>
                    </div>
                    <div class="course-img">
                        <img class="forum-img" src="foreground/general/img/portal/forum-3.jpg" alt="雅秋文化-讨论区专题四">
                    </div>
                    <div class="course-body">
                        <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="雅秋文化-讨论区专题四">雅秋文化-讨论区专题四</span>
                    </div>
                    <div class="course-footer">
			            <span class="course-per-num pull-left">
                            <i class="fa fa-users"></i>
                            85157
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix item-footer">
            <div class="pull-right watch-all">
                <a href="/domain?type=forum">查看更多 ></a>
            </div>
        </div>
    </div>
</div>

<!-- 登录/注册模态框 -->
<div class="modal fade" id="sign-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a class="modal-sign-button" href="#signin-form" aria-controls="signin-form" role="tab" data-toggle="tab">登录</a>
                    </li>
                    <li role="presentation">
                        <a class="modal-sign-button" href="#signup-form" aria-controls="signup-form" role="tab" data-toggle="tab">注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="signin-form">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="email" name="login" class="form-control" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group remember-login">
                                <input name="remember" type="checkbox" value="y"> 下次自动登录
                                <a class="pull-right" href="reset_password/index.html">忘记密码？</a>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="submit" value="开始探索">
                            </div>
                            <div class="form-group widget-signin">
                                <span>快速登录</span>
                                <a href="/auth/qq?next="><i class="fa fa-qq"></i></a>
                                <a href="/auth/weibo?next="><i class="fa fa-weibo"></i></a>
                            </div>
                            <div class="form-group error-msg">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="signup-form">
                        <form action="/register" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="email" name="email" class="form-control" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" name="re-password" class="form-control" placeholder="请确认您的密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="submit" value="注册">
                            </div>
                            <div class="form-group agree-privacy">
                                注册表示您已经同意我们的<a href="privacy/index.html" target="_blank">隐私条款</a>
                            </div>
                            <div class="form-group widget-signup">
                                <span>快速注册</span>
                                <a href="/auth/qq?next="><i class="fa fa-qq"></i></a>
                                <a href="/auth/weibo?next="><i class="fa fa-weibo"></i></a>
                            </div>
                            <div class="form-group error-msg">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 尾部 -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 clearfix footer-col">
                <img src="foreground/general/img/portal/logo.png" style="height: 50px; margin-left: 13%;">
                <div class="footer-slogan">专注青少年心理健康</div>
                <div class="col-xs-2" style="margin-left: 4.1%">
                    <div class="social-item footer-weixin-item">
                        <i class="fa fa-weixin"></i>
                        <div class="footer-weixin">
                            <img src="foreground/common/img/wechat-qr.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="social-item footer-qq-item">
                        <i class="fa fa-qq"></i>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="social-item footer-weibo-item">
                        <a href="http://weibo.com/shiyanlou2013" target="_blank">
                            <i class="fa fa-weibo"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">关于我们</div>
                <a href="http://710914.023001.com/contact.html" target="_blank">关于我们</a><br>
                <a href="/contact-us" target="_blank">联系我们</a><br>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">社交平台</div>
                <a href="" target="_blank">微信公众号</a><br>
                <a href="https://tieba.baidu.com/home/main?un=%D1%C5%C7%EF%D0%C4%C0%ED%BD%A1%BF%B5&red_tag=2909657219" target="_blank">百度贴吧</a><br>
                <a href="" target="_blank">QQ</a><br>
                <a href="" target="_blank">微信</a><br>
                <a href="" target="_blank">微博</a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">内容专题</div>
                <a href="/domain?type=case" target="_blank">心理问题</a><br>
                <a href="/domain?type=case" target="_blank">精神问题</a><br>
                <a href="/domain?type=case" target="_blank">心理问题</a><br>
                <a href="/domain?type=case" target="_blank">托管补习</a><br>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">内容板块</div>
                <a href="/domain?type=case" target="_blank">经典案例</a><br>
                <a href="/domain?type=news" target="_blank">实时信息</a><br>
                <a href="/domain?type=forum" target="_blank">讨论交流</a><br>
                <a href="/contact-us" target="_blank">联系我们</a><br>
            </div>
        </div>
    </div>
    <div class="text-center copyright">
        <span>Copyright @2017-2020 重庆雅秋文化传播有限公司</span>
        <span class="ver-line"> | </span>
        <a class="text-white" href="http://www.beian.miit.gov.cn" target="_blank">渝ICP备19009262号-2</a>
    </div>
</div>
</body>
<!-- 文档就绪-外联js -->
<script src="foreground/general/js/mine/global/login-btn.js"></script>
<script type="text/javascript">
    /**
     *@Description 初始化函数
     *@author CiaoLee
     */
    $(function() {

    });
</script>
</html>
