<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title Page-->
    <title>雅秋文化-控制台</title>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="IceGlow">
    <meta name="description" content="雅秋文化,与重庆晨报966966共同服务社会,专注青少年心理健康,本站无弹窗无广告,24X7电话:13320337453,QQ咨询：2757861151">
    <meta name="keywords" content="青少年心理健康咨询,婚姻情感咨询,重庆雅秋文化">
    <meta name="author" content="雅秋文化,冰芒科技">
    <!-- Fontfaces CSS-->
    <link href="background/css/font-face.css" rel="stylesheet" media="all">
    <link href="background/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="background/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="background/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="background/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="background/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="background/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="background/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="background/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="background/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="background/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="background/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="background/css/theme.css" rel="stylesheet" media="all">
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <h4>重庆雅秋文化传播有限公司</h4>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <!-- 控制台 -->
                        <li>
                            <a class="js-arrow" href="backgroundIndex">
                                <i class="fas fa-tachometer-alt"></i>
                                控制台
                            </a>
                        </li>
                        <!-- 网站维护 -->
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-globe"></i>
                                网站维护
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="">网站导航栏维护</a>
                                </li>
                                <li>
                                    <a href="">内容板块维护</a>
                                </li>
                            </ul>
                        </li>
                        <!-- 内容维护 -->
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>
                                内容维护
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="">文章管理</a>
                                </li>
                                <li>
                                    <a href="backgroundForm">发布文章</a>
                                </li>
                            </ul>
                        </li>
                        <!-- 数据统计 -->
                        <li>
                            <a href="backgroundForm">
                                <i class="far fa-bar-chart-o"></i>
                                数据统计
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <h4>重庆雅秋文化传播有限公司</h4>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <!-- 控制台 -->
                        <li>
                            <a class="js-arrow" href="backgroundIndex">
                                <i class="fas fa-tachometer-alt"></i>
                                控制台
                            </a>
                        </li>
                        <!-- 网站维护 -->
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-globe"></i>
                                网站维护
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="">网站导航栏维护</a>
                                </li>
                                <li>
                                    <a href="">内容板块维护</a>
                                </li>
                            </ul>
                        </li>
                        <!-- 内容维护 -->
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>
                                内容维护
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="">文章管理</a>
                                </li>
                                <li>
                                    <a href="backgroundForm">发布文章</a>
                                </li>
                            </ul>
                        </li>
                        <!-- 数据统计 -->
                        <li>
                            <a href="backgroundForm">
                                <i class="far fa-bar-chart-o"></i>
                                数据统计
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity">1</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have 2 news message</p>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6>Michelle Moreno</h6>
                                                    <p>Have sent a photo</p>
                                                    <span class="time">3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-04.jpg" alt="Diane Myers" />
                                                </div>
                                                <div class="content">
                                                    <h6>Diane Myers</h6>
                                                    <p>You are now connected on message</p>
                                                    <span class="time">Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">1</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">See all emails</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">余晓南</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">余晓南</a>
                                                    </h5>
                                                    <span class="email">724029169@qq.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>文章发布</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                            <!-- 标题 -->
                                            <div class="row form-group">
                                                <div class="col col-md-2">
                                                    <label for="text-input" class=" form-control-label">文章标题</label>
                                                </div>
                                                <div class="col-12 col-md-10">
                                                    <input type="text" id="text-input" name="title" placeholder="请输入文章标题" class="form-control">
                                                    <!--<small class="form-text text-muted">This is a help text</small>-->
                                                </div>
                                            </div>
                                            <!-- 内容 -->
                                            <div class="row form-group">
                                                <div class="col col-md-2">
                                                    <label for="textarea-input" class=" form-control-label">文章内容</label>
                                                </div>
                                                <div class="col-12 col-md-10">
                                                    <textarea name="main-content" id="textarea-input" rows="9" placeholder="请输入文章内容" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <!-- 栏目 -->
                                            <div class="row form-group">
                                                <div class="col col-md-2">
                                                    <label for="selectLg" class=" form-control-label">选择栏目</label>
                                                </div>
                                                <div class="col-12 col-md-10">
                                                    <select name="selectLg" id="selectLg" class="form-control-lg form-control">
                                                        <option value="sgfY4g5k">经典案例</option>
                                                        <option value="GbBxLHTt">实时信息</option>
                                                        <option value="lQSlUrT0">讨论交流</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- 权重 -->
                                            <div class="row form-group">
                                                <div class="col col-md-2">
                                                    <label class=" form-control-label">文章等级</label>
                                                </div>
                                                <div class="col col-md-10">
                                                    <div class="form-check-inline form-check">
                                                        <label for="inline-checkbox1" class="form-check-label">
                                                            <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="0" class="form-check-input">普通文章
                                                        </label>
                                                        <label for="inline-checkbox2" class="form-check-label">
                                                            <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="1" class="form-check-input">置顶文章
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> 提交
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> 重置
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <span>Copyright @2017-2020 重庆雅秋文化传播有限公司</span>
                                    <span class="ver-line"> | </span>
                                    <a href="http://www.beian.miit.gov.cn" target="_blank">渝ICP备19009262号-2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Jquery JS-->
<script src="background/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="background/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="background/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="background/vendor/slick/slick.min.js">
</script>
<script src="background/vendor/wow/wow.min.js"></script>
<script src="background/vendor/animsition/animsition.min.js"></script>
<script src="background/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="background/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="background/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="background/vendor/circle-progress/circle-progress.min.js"></script>
<script src="background/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="background/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="background/vendor/select2/select2.min.js">
</script>
<!-- Main JS-->
<script src="background/js/main.js"></script>
<script type="text/javascript">

</script>
</html>
<!-- end document-->
