<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- 标签页内容 -->
    <title>重庆青少年心理咨询 专注青少年心理健康-【雅秋文化】</title>
    <!-- 网页元信息 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="IceGlow">
    <meta name="description" content="雅秋文化,与重庆晨报966966共同服务社会,专注青少年心理健康,本站无弹窗无广告,24X7电话:13320337453,QQ咨询：2757861151">
    <meta name="keywords" content="青少年心理健康咨询,婚姻情感咨询,重庆雅秋文化">
    <meta name="author" content="雅秋文化,冰芒科技">
    <!-- css -->
    <link rel="shortcut icon" href="foreground/common/img/favicon.ico">
    <link rel="stylesheet" href="foreground/general/css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="foreground/general/css/highlight/monokai-sublime.min.css">
    <link rel="stylesheet" href="foreground/general/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="foreground/general/css/global/styles.css?=2016121272249">
    <link rel="stylesheet" href="foreground/general/css/animate/animate.min.css">
    <link rel="stylesheet" href="foreground/general/css/pagination/pagination.css">
    <link rel="stylesheet" href="foreground/general/css/mine/global/sign-modal.css">
    <link rel="stylesheet" href="foreground/general/css/mine/global/navibar.css">
    <!-- js -->
    <script src="foreground/general/js/jquery/jquery.min.js"></script>
    <script src="foreground/general/js/bootstrap/bootstrap.min.js"></script>
    <script src="foreground/general/js/vue/vue.js"></script>
    <script src="foreground/general/js/pagination/jquery.pagination.js"></script>
    <!-- 内联样式 -->
    <style>
        /* 页签栏 */
        .pagination>a {
            float: left;
            margin: 0 5px;
            width: 38px;
            height: 38px;
            line-height: 38px;
            background: #fff;
        }

        .pagination>span {
            float: left;
            margin: 0 5px;
            width: 38px;
            height: 38px;
            line-height: 38px;
            font-size: 14px;
        }

        .current-page {
            background: #0c9;
            color: #fff;
            border: 1px solid #0c9;
        }

        .jump-input {
            float: left;
            margin: 0 5px;
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            background: #fff;
            border: 1px solid #ebebeb;
            outline: none;
            color: #bdbdbd;
            font-size: 14px;
        }

        .jump-btn {
            float: left;
            margin: 0 5px;
            width: 38px;
            height: 38px;
            line-height: 38px;
            background: #fff;
            border: 1px solid #ebebeb;
            color: #bdbdbd;
            font-size: 14px;
        }
    </style>
</head>

<body>

<!-- 导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
                <span class="sr-only">雅秋文化</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="foreground/general/img/portal/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="/">首页</a>
                </li>
                <li class="">
                    <a href="/domain?type=case">经典案例</a>
                </li>
                <li class=" bootcamp new-nav logo-1111">
                    <a href="/domain?type=news">实时信息</a>
                </li>
                <li class="">
                    <a href="/domain?type=forum">讨论交流</a>
                </li>
                <li class=" new-nav logo-1111">
                    <a href="/contact-us">联系我们</a>
                </li>
            </ul>

            <div class="navbar-right btns">
                <a class="btn btn-default navbar-btn sign-in" data-sign="signin" href="#sign-modal" data-toggle="modal">登录</a>
                <a class="btn btn-default navbar-btn sign-up" data-sign="signup" href="#sign-modal" data-toggle="modal">注册</a>
            </div>

            <form class="navbar-form navbar-right" action="search" method="get" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" autocomplete="off" placeholder="搜索 案例/话题">
                </div>
            </form>
        </div>
    </div>
</nav>

<!-- 内容区域 -->
<div class="container layout layout-margin-top">
    <div class="row">
        <div class="col-md-9 layout-body">
            <div class="content">
                <!-- 内容区域-导航栏 -->
                <ul id="domain-column" class="nav nav-tabs question-types" role="tablist">
                    <li v-for="domainColumn in domainColumns" role="presentation">
                        <a :id="domainColumn.identifier"
                           onclick="domainSwitch(this)"
                            class="domain-btn" aria-controls="all" role="tab" toggle="tab">
                            {{domainColumn.name}}
                        </a>
                    </li>
                    <!-- 内容区域-导航栏-排序方式 -->
                    <div id="sort-type" class="question-sort">
                        <a id="new" class="active" onclick="sortTypeBtn(this)">最新</a>
                        /
                        <a id="hot" onclick="sortTypeBtn(this)">最热</a>
                    </div>
                </ul>
                <!-- 内容区域-主要内容 -->
                <div id="content-area" class="tab-content">
                    <div role="tabpanel" class="tab-pane active">
                        <ul class="row question-items">
                            <li v-for="content in currentPage" class="question-item">
                                <div class="col-md-10">
                                    <div class="col-sm-2 question-item-author">
                                        <div class="user-avatar">
                                            <a class="avatar">
                                                <img src="https://dn-simplecloud.shiyanlou.com/gravataradmin.png?imageView2/1/w/100/h/100">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <h4>
                                            <img src="../img/topQuestion.png">
                                            <a class="question-item-title" href="show.html" target="_blank">
                                                {{content.title}}
                                            </a>
                                        </h4>
                                        <div class="question-item-summary">
                                            <div class="user-username">
                                                <a v-if="content.nickname != null " class="avatar">
                                                    {{content.nickname}}
                                                </a>
                                                <a v-if="content.creator_name != null " class="avatar">
                                                    {{content.creator_name}}
                                                </a>
                                            </div>
                                            <span class="question-item-date">{{content.create_time}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 question-item-rank">
                                    <div class="question-item-views">
                                        <div>{{content.hits_show}}</div>
                                        <div>查看</div>
                                    </div>
                                    <div class="question-item-answered">
                                        <div>{{content.comment_num}}</div>
                                        <div>回复</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- 分页工具栏 -->
                        <nav class="pagination-container">
                            <ul class="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右部区域 -->
        <div class="col-md-3 layout-side">
            <a class="btn side-btn" href="#sign-modal" data-toggle="modal" data-sign="signin">我要发帖</a>
            <div class="panel panel-default panel-userinfo">
                <div class="panel-body body-userinfo">
                    <div class="media userinfo-header">
                        <div class="media-left">
                            <div class="user-avatar">
                                <a class="avatar" href="#sign-modal" data-toggle="modal" data-sign="signin">
                                    <img class="circle" src="../img/logo-grey.png">
                                </a>
                            </div>
                        </div>
                        <div class="media-body">
                            <span class="media-heading username">欢迎来到实验楼</span>
                            <p class="vip-remain">做实验，学编程</p>
                        </div>
                    </div>
                    <div class="row userinfo-data">
                        <hr>
                        <div class="btn-group-lr">
                            <a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn"
                               data-toggle="modal" data-sign="signin">登录</a>
                            <a href="#sign-modal" type="button"
                               class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn"
                               data-toggle="modal" data-sign="signup">注册</a>
                        </div>
                    </div>
                    <div class="userinfo-footer row">
                        <div class="col-md-6 col-xs-6 pos-left">
                            <a href="#sign-modal" data-toggle="modal" data-sign="signin"><span
                                    class="glyphicon glyphicon-bookmark"></span> 加入私有课</a>
                        </div>
                        <div class="col-md-6 col-xs-6 pos-right">
                            <a href="/contribute" target="_blank"><span class="glyphicon glyphicon-send"></span>
                                我要投稿</a>
                        </div>
                        <div id="join-private-course" class="modal fade words-ctrl" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">加入私有课</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div style="margin:15px 0; font-size:16px;">输入教师提供的私有课程码可以加入教师的私有课程。</div>
                                        <form id="private-course-form" method="POST" action="/courses/join">
                                            <div class="form-group">
                                                <label for="code">邀请码</label>
                                                <input class="form-control" id="code" name="code" type="text" value="">
                                                <input name="_csrf_token" type=hidden
                                                       value="1483789088##bbf83c51243ab12daa94911c8865a65bdc66c4d8">
                                            </div>
                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary"
                                                onclick="document.getElementById('private-course-form').submit();">确定
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="sidebox">

                <div class="sidebox-header">
                    <h4 class="sidebox-title">最热路径</h4>
                </div>
                <div class="sidebox-body course-content side-list-body">
                    <a href="/paths/python"><img style="width:25px;height:25px" src="../img/1471513769430.png"> Python
                        研发工程师</a>
                    <a href="/paths/bigdata"><img style="width:25px;height:25px" src="../img/1471513926288.png"> 大数据工程师</a>
                    <a href="/paths/cpp"><img style="width:25px;height:25px" src="../img/1471513793360.png"> C++
                        研发工程师</a>
                    <a href="/paths/security"><img style="width:25px;height:25px" src="../img/1471513867033.png">
                        信息安全工程师</a>
                    <a href="/paths/linuxsys"><img style="width:25px;height:25px" src="../img/1471514004752.png"> Linux
                        运维工程师</a>
                </div>

            </div>

            <div class="side-image side-qrcode">
                <img src="../img/ShiyanlouQRCode.png">
                <div class="side-image-text">关注公众号，手机看教程</div>
            </div>

            <div class="sidebox side-list">
                <div class="sidebox-header">
                    <h4 class="sidebox-title">常见问题</h4>
                </div>
                <div class="sidebox-body side-list-body">
                    <a href="/questions/80" target="_blank">实验操作很卡怎么办？</a>
                    <a href="/questions/91" target="_blank">为什么连不上实验桌面？</a>
                    <a href="/questions/360" target="_blank">"我的代码库"如何用？</a>
                    <a href="/questions/92" target="_blank">实验楼环境默认用户及密码？</a>
                    <a href="/questions/235" target="_blank">环境中是否可以联网？</a>
                </div>
                <div class="sidebox-footer">
                    <div class="pull-right"><a href="/questions/?tag=%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98"
                                               target="_blank">查看全部</a></div>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- 发帖模态框 -->
<div class="modal fade askquestion-modal" id="askquestion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role=document>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">发帖</h4>
            </div>
            <div class="modal-body words-ctrl">
                <form class="form-horizontal" action="/questions/">
                    <input name="_csrf_token" type=hidden value="1483789088##bbf83c51243ab12daa94911c8865a65bdc66c4d8">
                    <div class="form-group">
                        <label class="col-md-2 control-label">标题</label>
                        <div class="col-md-10">
                            <input type="text" name="title" min="5" max="100" class="form-control" placeholder="至少输入5个字"
                                   value="">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">描述</label>
                        <div class="col-md-10">
                            <div class="tabpanel mkeditor">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#mkeditor-editor" role="tab" data-toggle="tab">编辑</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="mkeditor-btn-view" href="#mkeditor-viewer" role="tab"
                                           data-toggle="tab">预览</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active mkeditor-editor" id="mkeditor-editor" role="tabpanel">

                                        <div class="btn-group" role="group">

                                            <button type="button" class="btn btn-default mkeditor-btn-bold">
                                                <i class="fa fa-bold"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-italic">
                                                <i class="fa fa-italic"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-link">
                                                <i class="fa fa-link"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-quote">
                                                <i class="fa fa-quote-left"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-code">
                                                <i class="fa fa-code"></i>
                                            </button>
                                            <button id="mkeditor-pickfile" type="button"
                                                    class="btn btn-default mkeditor-btn-img">
                                                <i class="fa fa-image"></i>
                                            </button>

                                            <button type="button" class="btn btn-default mkeditor-btn-listol">
                                                <i class="fa fa-list-ol"></i>
                                            </button>
                                            <button type="button" class="btn btn-default mkeditor-btn-listul">
                                                <i class="fa fa-list-ul"></i>
                                            </button>
                                        </div>
                                        <div class="btn-group pull-right" role="group">
                                            <a style="font-size:12px; color:#666; text-decoration:underline;"
                                               href="/questions/764" target="_blank">
                                                <i class="fa fa-question-circle"></i>Markdown 语法
                                            </a>
                                        </div>
                                        <textarea name="content" class="content"
                                                  min="0" max="20000"
                                                  placeholder="推荐使用 Markdown 语法，至少输入 5 个字"></textarea>
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="tab-pane mkeditor-viewer markdown-body" id="mkeditor-viewer"
                                         role="tabpanel">
                                        <div></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">板块</label>
                        <div class="col-md-10">
                            <div class="q-types" data-type="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 登录/注册模态框 -->
<div class="modal fade" id="sign-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a class="modal-sign-button" href="#signin-form" aria-controls="signin-form" role="tab" data-toggle="tab">登录</a>
                    </li>
                    <li role="presentation">
                        <a class="modal-sign-button" href="#signup-form" aria-controls="signup-form" role="tab" data-toggle="tab">注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="signin-form">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="email" name="login" class="form-control" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group remember-login">
                                <input name="remember" type="checkbox" value="y"> 下次自动登录
                                <a class="pull-right" href="reset_password/index.html">忘记密码？</a>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="submit" value="开始探索">
                            </div>
                            <div class="form-group widget-signin">
                                <span>快速登录</span>
                                <a href="/auth/qq?next="><i class="fa fa-qq"></i></a>
                                <a href="/auth/weibo?next="><i class="fa fa-weibo"></i></a>
                            </div>
                            <div class="form-group error-msg">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="signup-form">
                        <form action="/register" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope" style="margin:0;"></i>
                                    </div>
                                    <input type="email" name="email" class="form-control" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-lock" style="margin:0;"></i>
                                    </div>
                                    <input type="password" name="re-password" class="form-control" placeholder="请确认您的密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" name="submit" type="submit" value="注册">
                            </div>
                            <div class="form-group agree-privacy">
                                注册表示您已经同意我们的<a href="privacy/index.html" target="_blank">隐私条款</a>
                            </div>
                            <div class="form-group widget-signup">
                                <span>快速注册</span>
                                <a href="/auth/qq?next="><i class="fa fa-qq"></i></a>
                                <a href="/auth/weibo?next="><i class="fa fa-weibo"></i></a>
                            </div>
                            <div class="form-group error-msg">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 尾部 -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 clearfix footer-col">
                <img src="foreground/general/img/portal/logo.png" style="height: 50px; margin-left: 13%;">
                <div class="footer-slogan">专注青少年心理健康</div>
                <div class="col-xs-2" style="margin-left: 4.1%">
                    <div class="social-item footer-weixin-item">
                        <i class="fa fa-weixin"></i>
                        <div class="footer-weixin">
                            <img src="foreground/common/img/心之音-wechat-qr.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="social-item footer-qq-item">
                        <i class="fa fa-qq"></i>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="social-item footer-weibo-item">
                        <a href="http://weibo.com/shiyanlou2013" target="_blank">
                            <i class="fa fa-weibo"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">关于我们</div>
                <a href="http://710914.023001.com/contact.html" target="_blank">关于我们</a><br>
                <a href="/contact-us" target="_blank">联系我们</a><br>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">社交平台</div>
                <a href="" target="_blank">微信公众号</a><br>
                <a href="https://tieba.baidu.com/home/main?un=%D1%C5%C7%EF%D0%C4%C0%ED%BD%A1%BF%B5&red_tag=2909657219" target="_blank">百度贴吧</a><br>
                <a href="" target="_blank">QQ</a><br>
                <a href="" target="_blank">微信</a><br>
                <a href="" target="_blank">微博</a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">内容专题</div>
                <a href="/domain?type=case" target="_blank">心理问题</a><br>
                <a href="/domain?type=case" target="_blank">精神问题</a><br>
                <a href="/domain?type=case" target="_blank">心理问题</a><br>
                <a href="/domain?type=case" target="_blank">托管补习</a><br>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 footer-col">
                <div class="col-title">内容板块</div>
                <a href="/domain?type=case" target="_blank">经典案例</a><br>
                <a href="/domain?type=news" target="_blank">实时信息</a><br>
                <a href="/domain?type=forum" target="_blank">讨论交流</a><br>
                <a href="/contact-us" target="_blank">联系我们</a><br>
            </div>
        </div>
    </div>
    <div class="text-center copyright">
        <span>Copyright @2017-2020 重庆雅秋文化传播有限公司</span>
        <span class="ver-line"> | </span>
        <a class="text-white" href="http://www.beian.miit.gov.cn" target="_blank">渝ICP备19009262号-2</a>
    </div>
</div>
</body>
<!-- 文档就绪-外联js -->
<script src="foreground/general/js/mine/global/login-btn.js"></script>
<script th:inline="javascript">
    /**
     *@Description 全局变量
     *@author CiaoLee
     */
    let currentDomain = [[${identifier}]]; //当前板块
    let currentSortType = "new"; //当前排序方式
    let currentPageIndex = 1; //当前页数
    let globalContents = {}; //全局内容存储
    let globalPagination = {}; //全局内容页签存储

    /**
     *@Description Vue全局变量初始化
     *@author CiaoLee
     */
    /* DomainColumn栏目Vue */
    let domainColumnVue = new Vue({
        el: "#domain-column",
        data: {
            domainColumns: []
        },
        beforeCreate() {
            /* 加载DomainColumn */
            domainColumnOnload();
        },
        watch: {
            "domainColumns": function () {
                this.$nextTick(function () {
                    /* 选取Domain并分页加载其Content */
                    domainSwitch($("#" + currentDomain));
                });
            }
        }
    });
    /* Content内容Vue */
    let contentVue = new Vue({
        el: "#content-area",
        data: {
            currentPage: {}
        }
    });

    /**
     * @Description 按钮点击高亮
     * @author CiaoLee
     */
    function widgetHighlight(widget) {
        widget = $(widget);
        widget.addClass("active");
        widget.siblings().removeClass("active");
    }

    /**
     * @Description 获取DomainColumns
     * @author CiaoLee
     */
    function domainColumnOnload() {
        $.ajax({
            url: "/domainColumn/getActiveList",
            type: "get",
            success: function(rtnData) {
                if(rtnData.code === "success") {
                    domainColumnVue.domainColumns = rtnData.data;
                    for(let i=0; i<rtnData.data; i++) {
                        let identifier = rtnData[i].identifier;
                        /* 初始化指定Identifier的Contents */
                        let typicalContents = contentVue.contents[identifier+"Contents"];
                        if(typicalContents == null) {
                            typicalContents = {};
                        }
                    }
                }
                if(rtnData.code === "error") {
                    alert("加载失败了，请刷新");
                }
            }
        });
    }

    /**
     * @Description 切换板块 获取指定DomainColumns下的Contents
     * @param domainBtn 板块按钮
     * @author CiaoLee
     */
    function domainSwitch(domainBtn) {
        /* 按钮高亮 */
        widgetHighlight($(domainBtn).parent());
        /* 获取Identifier 并把Identifier存入全局变量 */
        domainBtn = $(domainBtn);
        let identifier = domainBtn.attr("id");
        currentDomain = identifier;
        /* 刷新currentPageIndex */
        currentPageIndex = 1;
        /* 查询指定内容 */
        getSpecifiedPage(currentDomain, currentPageIndex);
    }

    /**
     * @Description 切换排序方式
     * @param sortBtn 排序按钮
     * @author CiaoLee
     */
    function sortTypeBtn(sortBtn) {
        /* 排序按钮前端样式改变 */
        let specifiedBtn = $(sortBtn);
        specifiedBtn.addClass("active");
        specifiedBtn.siblings().removeClass("active");
        /* 把当前指定的排序方式 放入全局变量 */
        currentSortType = specifiedBtn.attr("id");
        /* 刷新currentPageIndex */
        currentPageIndex = 1;
        /* 查询指定内容 */
        getSpecifiedPage();
    }

    /**
     * @Description 分页加载指定板块的内容
     * @private currentDomain 当前板块标识符（全局变量）
     * @private currentPageIndex 当前页数（全局变量）
     * @private currentSortType 排序方式（全局变量）
     * @author CiaoLee
     */
    function getSpecifiedPage() {
        /* 获取排序方式 */
        let sortType = currentSortType;
        /* 加载指定 排序方式&&栏目&&页数 的内容（若已经加载过 不做重复加载） */
        let contentsExpected = globalContents[currentDomain];
        //如果全局内容管理对象中有当前页 则直接拿给Vue渲染
        if(contentsExpected!=null && contentsExpected[sortType]!=null && contentsExpected[sortType][currentPageIndex]!=null) {
            contentVue.currentPage = contentsExpected[sortType][currentPageIndex];
            return;
        }
        /* 如果没有当前页 Compromise=>查库 */
        let params = {};
        params['sortType'] = sortType;
        params["identifier"] = currentDomain;
        params['pageIndex'] = currentPageIndex;
        $.ajax({
            url: "content/getSpecifiedPage",
            type: "get",
            data: params,
            async: false,
            success: function(rtnData) {
                if(rtnData.code === "success") {
                    /* 把本页内容存入Vue对象 用于直接渲染 */
                    contentVue.currentPage = rtnData.data;
                    /* 把本页内容存入全局内容管理对象 用于缓存 */
                    let specifiedContents = globalContents[currentDomain];
                    //如果指定Identifier下的内容都不存在 那么直接初始化
                    if(specifiedContents == null) {
                        globalContents[currentDomain] = {};
                        globalContents[currentDomain][sortType] = {};
                        globalContents[currentDomain][sortType][currentPageIndex] = rtnData.data;
                    }
                    //如果指定Identifier下的内容存在 那么就继续看指定SortType下的内容存不存在
                    if(specifiedContents != null) {
                        //如果指定SortType下的内容存在 那么就赋值当前页
                        if(specifiedContents[sortType] != null) {
                            globalContents[currentDomain][sortType][currentPageIndex] = rtnData.data;
                        }
                        //如果指定SortType下的内容不存在 那么就初始化SortType 然后再赋值当前页
                        if(specifiedContents[sortType] == null) {
                            globalContents[currentDomain][sortType] = {};
                            globalContents[currentDomain][sortType][currentPageIndex] = rtnData.data;
                        }
                    }
                }
                if(rtnData.code === "error") {
                    alert("加载失败了，请刷新");
                }
            }
        });
        /* 获取指定栏目的页签栏 */
        getSpecifiedPagination();
    }

    /**
     * @Description 获取指定栏目页签栏数据
     * @private globalPagination 全局页签储存对象（全局变量）
     * @private currentDomain 当前板块标识符（全局变量）
     * @author CiaoLee
     */
    function getSpecifiedPagination() {
        let pageCount = null;
        /* 从本地缓存中读取分页参数 */
        if(globalPagination[currentDomain]!=null && globalPagination[currentDomain]["pageCount"]!=null) {
            pageCount = globalPagination[currentDomain]["pageCount"];
            paginationPrint(pageCount);
            return;
        }
        /* Compromise=> 连接数据库查询页签栏分页参数 */
        $.ajax({
            url: "content/getSpecifiedPagination",
            type: "get",
            data: {"identifier": currentDomain},
            async: false,
            success:function (rtnData) {
                if(rtnData.code === "success") {
                    pageCount = rtnData.data.pageCount;
                    /* 使用Pagination插件渲染页签栏 */
                    paginationPrint(pageCount);
                    /* 将数据存入全局变量缓存 */
                    if(globalPagination[currentDomain] == null) {
                        globalPagination[currentDomain] = {};
                        globalPagination[currentDomain]["pageCount"] = pageCount;
                    }
                }
                if(rtnData.code === "error") {
                    alert("加载失败了，请刷新");
                }
            }
        });
    }

    /**
     * @Description 绘制页签栏
     * @param pageCount 指定栏目的页数
     * @private currentPageIndex 当前页数（全局变量）
     * @private currentDomain 当前板块标识符（全局变量）
     * @author CiaoLee
     */
    function paginationPrint(pageCount) {
        $(".pagination").pagination({
            pageCount: pageCount,
            current: currentPageIndex,
            count: 2,
            jump: true,
            coping: true,
            homePage: "首页",
            endPage: "末页",
            prevContent: "上页",
            nextContent: "下页",
            activeCls: "current-page",
            jumpIptCls: "jump-input",
            jumpBtnCls: "jump-btn",
            callback: function (api) {
                /* 回到页面顶部 */
                scrollTo(0,0);
                /* 加载内容数据 并跳转页面 */
                let pageIndex = api.getCurrent();
                currentPageIndex = pageIndex;
                getSpecifiedPage(currentDomain, pageIndex);
            }
        });
    }
</script>
</html>
